<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Number</title>
</head>
<body>
    <h1>Random Number Generator</h1>
    <p>
        <%= val %> <br>
        <%= (val % 2 === 0)? `Look! An even number is here.` : `Aha! It's an odd number this time around.` %>
    </p>
    <button onclick="location.reload()">Refresh</button>
    <button onclick="location.assign('/')">Home</button>
</body>
</html>